<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Thêm vào phần đầu manifest -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RingQrApp"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        tools:targetApi="31">
        <activity
            android:name=".activity.temperature.TemperatureActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PressureActivity"
            android:exported="false" />
        <activity
            android:name=".activity.feature_options.ConnectAppOtherActivity"
            android:exported="false" />
        <activity
            android:name=".activity.feature_options.PrincipleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FaqSleepActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ManagerTagActivity"
            android:exported="false" />
        <activity
            android:name=".activity.feature_options.FaqQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ScanDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.target.TargetActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.InfoUserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.feature_options.ThemeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".DeviceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SaveDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".FeaturesDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".devices.DeviceBindActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainQringActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".bluetooth.BluetoothReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>